@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.app {
  position: relative;
  display: flex;
  height: 100vh;
  background-color: #eeeeee;
}

.container {
  position: relative;
  max-height: 100%;
  overflow: hidden;
  margin: auto;
  padding: 0 12em;
}

.title {
  width: 100%;
  margin-bottom: 0.5rem;
  font-weight: 800;
  text-transform: uppercase;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
}

.alpaca, .settings, .random-generate {
  position: relative;
  width: 50%;
}

.alpaca {
  padding-right: 2em;
}

.alpaca .style-images {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
}

.alpaca .background-images {
  position: relative;
  display: block;
  width: 100%;
  z-index: 0;
}


.settings {
  padding-left: 2em;
}

.accessories-button {
  margin-bottom: 1em;
}

.btn {
  transition: ease-in-out 0.2s;
  padding: 0.75em 2em;

  margin: 0.25em 0;
  margin-right: 0.25em;
  
  background: transparent;
  cursor: pointer;
}

.accessories-button .style-btn {
  font-size: 14px;
  color: #2c67c7;
  
  border-radius: 2em;
  border: 2px solid #2c67c7;
  opacity: 75%;
  font-weight: 600;
}

.accessories-button .style-btn:hover {
  background: #ffffff;
  opacity: 100%;
}

.accessories-button .style-btn.active {
  color: white;
  background: #2c67c7;
  opacity: 100%;
}

.accessories-button .style-btn:disabled {
  opacity: 50%;
}


.random-generate {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 1em;
  padding-right: 2em;
  justify-content: center;
}

.random-generate .generate-button {
  font-size: 14px;
  background: #ffffff;
  border: none;
  font-weight: 600;
  width: 40%;
  margin: auto;
}